

.App {
  text-align: center;
  background-image: linear-gradient(#b6baba, #50c7c7);
  height: 100vmin;
  border: 1px black solid;
  font-family: 'Raleway', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro {
  border: 1px black solid;
  width: 40%;
  margin: 50px auto;
  background-color: #bccccc;
  padding: 20px;

}
button {
  margin: 20px;
  padding: 20px;
  background-color: #063333;
  color: white;
}
.suggestion{
  border: 1px solid black;
  width: 40%;
  margin: 20px auto;
  padding: 30px;
  background-color: #e1ebeb;
  font-family: 'Neonderthaw', cursive;
}

.suggestion h3 {
  text-decoration: underline
}

h2 {
  color: red;
}